.app {
	width: min(768px, 95%);
	margin-inline: auto;
}

.app .btn-group {
	display: flex;
	gap: 1.5rem;
	justify-content: center;
}

.visually-hidden {
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	white-space: nowrap;
}